
:root {
  --primary-bg-color: #4682B4;
  --white-color: #fff;
  --border-color: #ccc;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --error-color: red;
  --card-border-color: #ddd;
  --card-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--primary-bg-color);
}

.container {
  background: var(--white-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-color);
}

h1, h2, h3 {
  text-align: center;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.form-control {
  margin-bottom: 10px;
}

/* Classe para esconder elementos */
.hidden {
  display: none;
}

#error-message {
  color: var(--error-color);
  text-align: center;
  margin-top: 20px;
}

#info-fields div, #partners div {
  margin: 10px 0;
}

#info-fields input, #partners input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.card {
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--card-shadow-color);
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.card-text {
  font-size: 1rem;
}

.button {
  width: 100%;  
  font-size: 1.1rem; 
  padding: 10px 20px;  
  border: none; 
  border-radius: 5px;  
  cursor: pointer;  
  transition: background-color 0.3s ease;  
  margin-bottom: 10px;  
}

#edit-button {
  background-color: #ff9800;  
  color: #fff;  
}

#edit-button:hover {
  background-color: #e68900;  
}

#save-button {
  background-color: #4CAF50; 
  color: #fff;  
}

#save-button:hover {
  background-color: #45a049;  
}
