body {
  background-color: 	#4682B4;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  text-align: center;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.form-control {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

#info-fields div, #partners div {
  margin: 10px 0;
}

#info-fields input, #partners input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}
